langchain
langchain-community
langchain-groq==0.2.1
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.2
faiss-cpu==1.9.0
sentence-transformers==3.3.1
python-dotenv==1.0.1
streamlit==1.40.1
pandas==2.2.3
docx2txt==0.8
pytesseract==0.3.13
Pillow==11.0.0
pypdf==5.1.0



langchain-core
langchain-google-genai==2.0.4
langchain-openai==0.2.9